# Site Settings
site_name: Whaleal docs
site_author: whaleal
docs_dir: en-docs   # docs_dir: docs # Obsidian Vault

repo_name: whaleal/guide
repo_url: https://github.com/whaleal/guide
copyright: © 2024 | @whaleal


# Custom Homepage Elements
home_cover_image: images/docs-logo.png # This path starts at your root mkdocs directory.
home_tagline: Whaleal
home_description: |
  Welcome to the Whaleal Product Documentation website, which provides comprehensive documentation to help you understand and use our products.

# Gradient Color
home_gradient_hsla: hsla(0deg,47%,55%,1) # Default Green: hsla(160deg,47%,55%,1)

# Custom Homepage Button(s)
home_button1_name: Whaleal Platform                  # Comment this parameter out to remove the button.
home_button1_url: WhalealPlatform/                       # This path starts at your root mkdocs directory.
home_button1_theme: md-button md-button--primary # Options: "md-button", "md-button md-button--primary"
home_button1_icon: people                        # Options: "people", "gear", "image"
home_button1_blurb: |                            # Short description of this button / section.
  Whaleal Platform (WAP) is an intelligent operation, maintenance and hosting platform that provides real-time monitoring and management of your MongoDB services 7*24 hours a day.

home_button2_name: Whaleal Data   # Comment this parameter out to remove the button.
home_button2_url: whalealData/    # This path starts at your root mkdocs directory.
home_button2_theme: md-button # Options: "md-button", "md-button md-button--primary"
home_button2_icon: gear       # Options: "people", "gear", "image"
home_button2_blurb: |         # Short description of this button / section.
  Whaleal Data is an archiving platform designed specifically for data archiving, supporting three types of archiving: cold archiving, warm archiving, and S3.

home_button3_name: Document Data Transfer   # Comment this parameter out to remove the button.
home_button3_url: DocumentDataTransfer/    # This path starts at your root mkdocs directory.
home_button3_theme: md-button # Options: "md-button", "md-button md-button--primary"
home_button3_icon: image      # Options: "people", "gear", "image"
home_button3_blurb: |         # Short description of this button / section.
  Document Data Transfer (DDT) is a MongoDB database migration and synchronization tool that supports data transmission between different MongoDB architectures.

# Homepage Code Execution
home_execute_js: | # Javascript to execute when accessing the homepage
  console.log("This is an example!");


# Material Configuration
theme:
  name: material
  favicon: 'images/logo.png'
  logo: 'images/logo1.svg'
  custom_dir: assets # Contains custom 'home.html' coverpage (and 'main.html')

  features:
    - navigation.indexes          # Implied section 'index.md' files
    - navigation.tabs             # Static upper section tabs (exist)
    # - navigation.tabs.sticky      # Static upper section tabs (stay)
    - navigation.footer           # Add 'previous' and 'next' buttons in the footer
    - navigation.instant          # Keep navigation from reloading
    - navigation.instant.progress # Display page loading progress-bar ( > 400ms)
    - search.highlight            # Highlight all occurrences of queried string
    - search.share                # Search Query can be copied to Clipboard
    - search.suggest              # Display likeliest completion for the last queried word
    - content.code.copy

  palette:
    # Light Mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple # deep orange
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to Dark Mode

    # Dark Mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: HSLA
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to Light Mode
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

nav:
  - Whaleal Platform:
      - whaleal-platform/index.md
      - Whaleal Overview:
          - Whaleal Architecture: whaleal-platform/01-whaleal-overview/01-whaleal-architecture.md
          - Example Deployment: whaleal-platform/01-whaleal-overview/02-example-deployment.md
          - QuickStart On Premise: whaleal-platform/01-whaleal-overview/03-quick-start-on-premise.md
          - QuickStart On Marketplace: whaleal-platform/01-whaleal-overview/04-quick-start-on-marketplace.md
      - Install Whaleal:
          - Installation Checklist: whaleal-platform/02-install-whaleal/01-installation-checklist.md
          - Hardware And Software Requirements: whaleal-platform/02-install-whaleal/02-hardware-and-software-requirements.md
          - InstallWhaleal:
              - Install Whaleal In AWS MarketPlace: whaleal-platform/02-install-whaleal/03-install-whaleal/01-install-whaleal-in-aws-marketplace.md
              - Install Whaleal In Docker: whaleal-platform/02-install-whaleal/03-install-whaleal/02-install-whaleal-in-docker.md
              - On Premise Install Whaleal: whaleal-platform/02-install-whaleal/03-install-whaleal/03-on-premise-install-whaleal.md
      - Projects:
          - Projects: whaleal-platform/03-projects/01-projects.md
      - Create Deployment:
          - Deployment Prerequisites: whaleal-platform/04-create-deployment/01-deployment-prerequisites.md
          - Add EC2:
              - Resource Quota: whaleal-platform/04-create-deployment/02-add-ec2/01-resource-quota.md
              - Subscribe Agent: whaleal-platform/04-create-deployment/02-add-ec2/02-subscribe-agent.md
              - Manually Add Agent: whaleal-platform/04-create-deployment/02-add-ec2/03-manually-add-agent.md
          - Add K8S Cluster: whaleal-platform/04-create-deployment/03-add-k8s-cluster.md
          - Deploy Standalone: whaleal-platform/04-create-deployment/04-deploy-standalone.md
          - Deploy ReplicaSet: whaleal-platform/04-create-deployment/05-deploy-replica-set.md
          - Deploy Sharded Cluster: whaleal-platform/04-create-deployment/06-deploy-sharded-cluster.md
          - Deploy Existing Cluster: whaleal-platform/04-create-deployment/07-deploy-existing-cluster.md
      - Manage Deployments:
          - View All Clusters: whaleal-platform/05-manage-deployments/01-view-all-clusters.md
          - Edit Deployment Configuration: whaleal-platform/05-manage-deployments/02-edit-deployment-configuration.md
          - Edit ReplicaSet: whaleal-platform/05-manage-deployments/03-edit-replica-sets.md
          - Sharded Cluster Operations: whaleal-platform/05-manage-deployments/04-sharded-cluster-operations.md
          - Stop Managingandor Monitoring One Deployment: whaleal-platform/05-manage-deployments/05-stop-managing-and-or-monitoring-one-deployment.md
          - MongoDB Operation: whaleal-platform/05-manage-deployments/06-mongodb-operation.md
      - Monitor:
          - Monitoring Instructions: whaleal-platform/06-monitor/01-monitoring-instructions.md
          - Usage Monitoring: whaleal-platform/06-monitor/02-usage-monitoring.md
          - Monitoring indicator details: whaleal-platform/06-monitor/03-monitoring-indicator-details.md
      - Backup And Restore:
          - Backup:
              - Create Repository: whaleal-platform/07-backup-and-restore/01-backup/01-create-repository.md
              - Operations: whaleal-platform/07-backup-and-restore/01-backup/02-operations.md
          - Restore: whaleal-platform/07-backup-and-restore/02-restore.md
          - Mirrored MongoDB Data Through MongoDB Tools: whaleal-platform/07-backup-and-restore/03-mirrored-mongodb-data/01-mirrored-mongodb-data-through-mongodb-tools.md
          - Mirrored MongoDB Data Through DDT: whaleal-platform/07-backup-and-restore/03-mirrored-mongodb-data/02-mirrored-mongodb-data-through-ddt.md
      - Security:
          - Configure Firewall to Access Whaleal: whaleal-platform/08-security/01-configure-firewall-to-access-whaleal.md
          - Secure MongoDB Deployment swith Authentication:
              - MongoDB Access Control: whaleal-platform/08-security/03-secure-mongodb-deployments-with-authentication/01-mongodb-access-control.md
              - Enable Username Password Authentication: whaleal-platform/08-security/03-secure-mongodb-deployments-with-authentication/02-enable-username-password-authentication.md
              - Enable X509 Authentication: whaleal-platform/08-security/03-secure-mongodb-deployments-with-authentication/03-enable-x509-authentication.md
              - Manage MongoDB Users and Roles: whaleal-platform/08-security/03-secure-mongodb-deployments-with-authentication/04-manage-mongodb-users-and-roles.md
              - Configure and Deploy Auditing: whaleal-platform/08-security/03-secure-mongodb-deployments-with-authentication/05-configure-and-deploy-auditing.md
      - Alert:
          - Host Alert: whaleal-platform/09-alert/01-host-alert.md
          - MongoDB Alert: whaleal-platform/09-alert/02-mongodb-alert.md
          - Project Alert: whaleal-platform/09-alert/03-project-alert.md
      - Diagnose:
          - ClusterInfo: whaleal-platform/10-diagnose/01-cluster-info.md
          - Cluster Health: whaleal-platform/10-diagnose/02-cluster-health.md
          - Performance: whaleal-platform/10-diagnose/03-performance.md
          - LogVis: whaleal-platform/10-diagnose/04-log-vis.md
          - ExploreData: whaleal-platform/10-diagnose/05-explore-data.md
      - Audit:
          - Audit: whaleal-platform/11-audit/01-audit.md
      - Account:
          - user Center: whaleal-platform/12-account/01-user-center.md
          - User Management: whaleal-platform/12-account/02-user-management.md
          - Account Configuration: whaleal-platform/12-account/03-account-configuration.md
      - Setting:
          - MongoDB Packge: whaleal-platform/13-setting/01-mongodb-packge.md
          - SMTP: whaleal-platform/13-setting/02-smtp.md
          - Collection Granularity: whaleal-platform/13-setting/03-collection-granularity.md
          - Kubernetes: whaleal-platform/13-setting/04-kubernetes.md
          - S3: whaleal-platform/13-setting/05-s3.md
          - Version: whaleal-platform/13-setting/06-version.md
      - Support:
          - Cluster Inspection: whaleal-platform/14-support/01-cluster-inspection.md
      - Administrator Whaleal:
          - Start And Stop Whaleal Application: whaleal-platform/15-administrator-whaleal/01-start-and-stop-whaleal-application.md
          - IntegrationwithPrometheus: whaleal-platform/15-administrator-whaleal/02-integration-with-prometheus.md
      - Troubleshooting:
          - EC2 and K8S: whaleal-platform/16-troubleshooting/01-ec2-and-k8s.md
          - MongoDB Monitoring: whaleal-platform/16-troubleshooting/02-mongodb-monitoring.md
          - MongoDB Upgrade Downgrade: whaleal-platform/16-troubleshooting/03-mongodb-upgrade-downgrade.md
          - Backup and Restore: whaleal-platform/16-troubleshooting/04-backup-and-restore.md
      - Frequently Asked Questions:
          - WAP: whaleal-platform/17-frequently-asked-questions/01-wap.md
          - Monitor: whaleal-platform/17-frequently-asked-questions/02-monitor.md
          - Backup: whaleal-platform/17-frequently-asked-questions/03-backup.md
          - Service: whaleal-platform/17-frequently-asked-questions/04-service.md
          - Agent: whaleal-platform/17-frequently-asked-questions/05-agent.md
      - Release Notes:
          - Whaleal Changelog: whaleal-platform/18-release-notes/01-whaleal-changelog.md

  - Whaleal Data: # whaleal data
      - whaleal-data/index.md
      - InstallationDeployment:
          - InstallationRequirements: whaleal-data/installation-deployment/installation-requirements.md
          - JDKInstallationDeployment: whaleal-data/installation-deployment/jdk-installation-deployment.md
          - MYSQLInstallationDeployment: whaleal-data/installation-deployment/mysql-installation-deployment.md
          - NginxInstallationDeployment: whaleal-data/installation-deployment/nginx-installation-deployment.md
          - RedisInstallationDeployment: whaleal-data/installation-deployment/redis-installation-deployment.md
          - ZookeeperInstallationDeployment: whaleal-data/installation-deployment/zookeeper-installation-deployment.md
          - Whaleal-dataInstallationDeployment: whaleal-data/installation-deployment/whaleal-data-installation-deployment.md
      - Whaleal data Manual:
          - LoginPage:
              - UserFirstLogin: whaleal-data/user-manual/login-page/user-first-login.md
              - UserRegistration: whaleal-data/user-manual/login-page/user-registration.md
          - HomepageDisplay: whaleal-data/user-manual/homepage-display/homepage-display.md
          - ConfigurationManagement:
              - DataSourceManagement: whaleal-data/user-manual/configuration-management/data-source-management.md
              - DestinationSourceManagement: whaleal-data/user-manual/configuration-management/destination-source-management.md
              - TableJobConfiguration: whaleal-data/user-manual/configuration-management/table-job-configuration.md
              - TaskConfiguration: whaleal-data/user-manual/configuration-management/task-configuration.md
          - TaskManagement:
              - TaskScheduling: whaleal-data/user-manual/task-management/task-scheduling.md
              - WarmTaskMonitoring: whaleal-data/user-manual/task-management/warm-task-monitoring.md
              - ColdTaskMonitoring: whaleal-data/user-manual/task-management/cold-task-monitoring.md
              - S3TaskMonitoring: whaleal-data/user-manual/task-management/s3-task-monitoring.md
          - ArchiveManagement:
              - ColdTaskLogQuery: whaleal-data/user-manual/archive-management/cold-task-log-query.md
              - FileInspectionManagement: whaleal-data/user-manual/archive-management/file-inspection-management.md
              - FileFullTextSearch: whaleal-data/user-manual/archive-management/file-full-text-search.md
          - SystemManagement:
              - UserManagement: whaleal-data/user-manual/system-management/user-management.md
              - RoleManagement: whaleal-data/user-manual/system-management/role-management.md
              - MenuManagement: whaleal-data/user-manual/system-management/menu-management.md
              - SystemSettings: whaleal-data/user-manual/system-management/system-settings.md
              - OperationLog: whaleal-data/user-manual/system-management/operation-log.md
              - ErrorLog: whaleal-data/user-manual/system-management/error-log.md
          - StatisticalReports:
              - TableJobExecutionStatistics: whaleal-data/user-manual/statistical-reports/table-job-execution-statistics.md
              - AbnormalJobExecutionStatistics: whaleal-data/user-manual/statistical-reports/abnormal-job-execution-statistics.md
              - SystemAccessStatistics: whaleal-data/user-manual/statistical-reports/system-access-statistics.md
              - RollbackRecordsStatistics: whaleal-data/user-manual/statistical-reports/rollback-records-statistics.md
              - JobDetails: whaleal-data/user-manual/statistical-reports/job-details.md
              - DataHistoricalFlow: whaleal-data/user-manual/statistical-reports/data-historical-flow.md
      - UseCase:
          - UserRegistration: whaleal-data/use-case/user-registration.md
          - UserLogin: whaleal-data/use-case/user-login.md
          - AddDataSource: whaleal-data/use-case/add-data-source.md
          - AddDestinationSource: whaleal-data/use-case/add-destination-source.md
          - AddWarmDataFullLoadJob: whaleal-data/use-case/add-warm-data-full-load-job.md
          - AddColdDataFullLoadJob: whaleal-data/use-case/add-cold-data-full-load-job.md
          - AddS3FullLoadJob: whaleal-data/use-case/add-s3-full-load-job.md
          - AddWarmDataIncrementalJob: whaleal-data/use-case/add-warm-data-incremental-job.md
          - AddColdDataIncrementalJob: whaleal-data/use-case/add-cold-data-incremental-job.md
          - AddS3IncrementalJob: whaleal-data/use-case/add-s3-incremental-job.md
          - CreateSingleTask: whaleal-data/use-case/create-single-task.md
          - CreateManualTask: whaleal-data/use-case/create-manual-task.md
          - CreateLoopTask: whaleal-data/use-case/create-loop-task.md
          - TaskExecutionMonitoring: whaleal-data/use-case/task-execution-monitoring.md
          - RetryAbnormalTask: whaleal-data/use-case/retry-abnormal-task.md
          - AbnormalTaskFeedback: whaleal-data/use-case/abnormal-task-feedback.md
          - SystemDeleteSourceData: whaleal-data/use-case/system-delete-source-data.md
          - ManuallyDeleteSourceData: whaleal-data/use-case/manually-delete-source-data.md
          - ColdDataWriteBack: whaleal-data/use-case/cold-data-write-back.md
          - ColdDataFullTextSearch: whaleal-data/use-case/cold-data-full-text-search.md
          - SMTPConfig: whaleal-data/use-case/smtp-config.md
          - WarmJobDemo: whaleal-data/use-case/warm-job-demo.md
          - ColdWorkDemo: whaleal-data/use-case/cold-work-demo.md
          - S3JobDemo: whaleal-data/use-case/s3-job-demo.md

  - Document Data Transfer: # Document Data Transfer
      - document-data-transfer/index.md
      - Overview:
          - Architecture: document-data-transfer/introduction/architecture.md
          - CustomerCase: document-data-transfer/introduction/customer-case.md
      - Install:
          - Requirements: document-data-transfer/install/requirements.md
          - Installation: document-data-transfer/install/installation.md
          - QuickStart: document-data-transfer/install/quick-start.md
          - Configuring: document-data-transfer/install/configuring.md
      - Use Case:
          - FunctionalTest: document-data-transfer/use-case/functional-test.md
          - FullTesting: document-data-transfer/use-case/full-test.md
          - RealTimeTest: document-data-transfer/use-case/real-time-test.md

  # - Support: whalealSupport/index.md


extra:
  alternate:
    - name: English
      link: /
      lang: en
    - name: 中文
      link: /zh/
      lang: zh

plugins:
  - search
  - roamlinks

