# Site Settings
site_name: Whaleal docs
site_author: whaleal
docs_dir: en-docs   # docs_dir: docs # Obsidian Vault

repo_name: whaleal/guide
repo_url: https://github.com/whaleal/guide
copyright: © 2024 | @whaleal


# Custom Homepage Elements
home_cover_image: images/wizard-posting.png # This path starts at your root mkdocs directory.
home_tagline: Whaleal
home_description: |
  Welcome to the Whaleal Product Documentation website, which provides comprehensive documentation to help you understand and use our products.

# Gradient Color
home_gradient_hsla: hsla(0deg,47%,55%,1) # Default Green: hsla(160deg,47%,55%,1)

# Custom Homepage Button(s)
home_button1_name: Whaleal Platform                  # Comment this parameter out to remove the button.
home_button1_url: WhalealPlatform/                       # This path starts at your root mkdocs directory.
home_button1_theme: md-button md-button--primary # Options: "md-button", "md-button md-button--primary"
home_button1_icon: people                        # Options: "people", "gear", "image"
home_button1_blurb: |                            # Short description of this button / section.
  Whaleal Platform (WAP) is an intelligent operation, maintenance and hosting platform that provides real-time monitoring and management of your MongoDB services 7*24 hours a day.

home_button2_name: Whaleal Data   # Comment this parameter out to remove the button.
home_button2_url: whalealData/    # This path starts at your root mkdocs directory.
home_button2_theme: md-button # Options: "md-button", "md-button md-button--primary"
home_button2_icon: gear       # Options: "people", "gear", "image"
home_button2_blurb: |         # Short description of this button / section.
  Whaleal Data is an archiving platform designed specifically for data archiving, supporting three types of archiving: cold archiving, warm archiving, and S3.

home_button3_name: Document Data Transfer   # Comment this parameter out to remove the button.
home_button3_url: DocumentDataTransfer/    # This path starts at your root mkdocs directory.
home_button3_theme: md-button # Options: "md-button", "md-button md-button--primary"
home_button3_icon: image      # Options: "people", "gear", "image"
home_button3_blurb: |         # Short description of this button / section.
  Document Data Transfer (DDT) is a MongoDB database migration and synchronization tool that supports data transmission between different MongoDB architectures.

# Homepage Code Execution
home_execute_js: | # Javascript to execute when accessing the homepage
  console.log("This is an example!");


# Material Configuration
theme:
  name: material
  favicon: 'images/logo.png'
  logo: 'images/logo1.svg'
  custom_dir: assets # Contains custom 'home.html' coverpage (and 'main.html')

  features:
    - navigation.indexes          # Implied section 'index.md' files
    - navigation.tabs             # Static upper section tabs (exist)
    # - navigation.tabs.sticky      # Static upper section tabs (stay)
    - navigation.footer           # Add 'previous' and 'next' buttons in the footer
    - navigation.instant          # Keep navigation from reloading
    - navigation.instant.progress # Display page loading progress-bar ( > 400ms)
    - search.highlight            # Highlight all occurrences of queried string
    - search.share                # Search Query can be copied to Clipboard
    - search.suggest              # Display likeliest completion for the last queried word
    - content.code.copy

  palette:
    # Light Mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple # deep orange
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to Dark Mode

    # Dark Mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: HSLA
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to Light Mode
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

nav:
  - Home: index.md
  - Whaleal Platform:
    - WhalealPlatform/index.md
    - Whaleal Overview:
      - Whaleal Architecture: WhalealPlatform/01-WhalealOverview/01-whaleal-architecture.md
      - Example Deployment: WhalealPlatform/01-WhalealOverview/02-example-deployment.md
      - QuickStart On Premise: WhalealPlatform/01-WhalealOverview/03-quick-start-on-premise.md
      - QuickStart On Marketplace: WhalealPlatform/01-WhalealOverview/04-quick-start-on-marketplace.md
    - Install Whaleal:
      - Installation Checklist: WhalealPlatform/02-InstallWhaleal/01-installation-checklist.md
      - Hardware And Software Requirements: WhalealPlatform/02-InstallWhaleal/02-hardware-and-software-requirements.md
      - InstallWhaleal:
        - Install Whaleal In AWS MarketPlace: WhalealPlatform/02-InstallWhaleal/03-InstallWhaleal/01-install-whalealIn-aws-marketplace.md
        - Install Whaleal In Docker: WhalealPlatform/02-InstallWhaleal/03-InstallWhaleal/02-install-whalealin-docker.md
        - On Premise Install Whaleal: WhalealPlatform/02-InstallWhaleal/03-InstallWhaleal/03-on-premise-install-whaleal.md
    - Projects:
      - Projects: WhalealPlatform/03-Projects/01-projects.md
    - Create Deployment:
      - Deployment Prerequisites: WhalealPlatform/04-CreateDeployment/01-deployment-prerequisites.md
      - Add EC2:
        - Resource Quota: WhalealPlatform/04-CreateDeployment/02-AddEC2/01-resource-quota.md
        - Subscribe Agent: WhalealPlatform/04-CreateDeployment/02-AddEC2/02-subscribe-agent.md
        - Manually Add Agent: WhalealPlatform/04-CreateDeployment/02-AddEC2/03-manually-add-agent.md
      - Add K8S Cluster: WhalealPlatform/04-CreateDeployment/03-add-k8s-cluster.md
      - Deploy Standalone: WhalealPlatform/04-CreateDeployment/04-deploy-standalone.md
      - Deploy ReplicaSet: WhalealPlatform/04-CreateDeployment/05-deploy-replica-set.md
      - Deploy Sharded Cluster: WhalealPlatform/04-CreateDeployment/06-deploy-sharded-cluster.md
      - Deploy Existing Cluster: WhalealPlatform/04-CreateDeployment/07-deploy-existing-cluster.md
    - Manage Deployments:
      - View All Clusters: WhalealPlatform/05-ManageDeployments/01-view-all-clusters.md
      - Edit Deployment Configuration: WhalealPlatform/05-ManageDeployments/02-edit-deployment-configuration.md
      - Edit ReplicaSet: WhalealPlatform/05-ManageDeployments/03-edits-replica-sets.md
      - Sharded Cluster Operations: WhalealPlatform/05-ManageDeployments/04-sharded-cluster-operations.md
      - Stop Managingandor Monitoring One Deployment: WhalealPlatform/05-ManageDeployments/05-stop-managingandor-monitoring-one-deployment.md
      - MongoDB Operation: WhalealPlatform/05-ManageDeployments/06-mongodb-operation.md
    - Monitor:
      - Monitoring Instructions: WhalealPlatform/06-Monitor/01-monitoring-instructions.md
      - Usage Monitoring: WhalealPlatform/06-Monitor/02-usage-monitoring.md
      - Monitoring indicator details: WhalealPlatform/06-Monitor/03-monitoring-indicator-details.md
    - Backup And Restore:
      - Backup:
        - Create Repository: WhalealPlatform/07-BackupAndRestore/01-Backup/01-create-repository.md
        - Operations: WhalealPlatform/07-BackupAndRestore/01-Backup/02-operations.md
      - Restore: WhalealPlatform/07-BackupAndRestore/02-restore.md
      - Mirrored MongoDB Data Through MongoDB Tools: WhalealPlatform/07-BackupAndRestore03-MirroredMongoDBData/01-mirrored-mongodb-data-through-mongodb-tools.md
      - Mirrored MongoDB Data Through DDT: WhalealPlatform/07-BackupAndRestore03-MirroredMongoDBData/02-mirrored-mongodb-data-through-ddt.md
    - Security:
      - Configure Firewall to Access Whaleal: WhalealPlatform/08-Security/01-configure-firewallto-access-whaleal.md
      - Secure MongoDB Deployment swith Authentication:
        - MongoDB Access Control: WhalealPlatform/08-Security/03-SecureMongoDBDeploymentswithAuthentication/01-mongodb-access-control.md
        - Enable Username Password Authentication: WhalealPlatform/08-Security/03-SecureMongoDBDeploymentswithAuthentication/02-enable-username-password-authentication.md
        - Enable X509 Authentication: WhalealPlatform/08-Security/03-SecureMongoDBDeploymentswithAuthentication/03-enable-x509-authentication.md
        - Manage MongoDB Users and Roles: WhalealPlatform/08-Security/03-SecureMongoDBDeploymentswithAuthentication/04-manage-mongodb-users-and-roles.md
        - Configure and Deploy Auditing: WhalealPlatform/08-Security/03-SecureMongoDBDeploymentswithAuthentication/05-configureand-deploy-auditing.md
    - Alert:
      - Host Alert: WhalealPlatform/09-Alert/01-host-alert.md
      - MongoDB Alert: WhalealPlatform/09-Alert/02-mongodb-alert.md
      - Project Alert: WhalealPlatform/09-Alert/03-project-alert.md
    - Diagnose:
      - ClusterInfo: WhalealPlatform/10-Diagnose/01-cluster-info.md
      - Cluster Health: WhalealPlatform/10-Diagnose/02-cluster-health.md
      - Performance: WhalealPlatform/10-Diagnose/03-performance.md
      - LogVis: WhalealPlatform/10-Diagnose/04-log-vis.md
      - ExploreData: WhalealPlatform/10-Diagnose/05-explore-data.md
    - Audit:
      - Audit: WhalealPlatform/11-Audit/01-audit.md
    - Account:
      - user Center: WhalealPlatform/12-Account/01-usercenter.md
      - User Management: WhalealPlatform/12-Account/02-user-management.md
      - Account Configuration: WhalealPlatform/12-Account/03-account-configuration.md
    - Setting:
      - MongoDB Packge: WhalealPlatform/13-Setting/01-mongodb-packge.md
      - SMTP: WhalealPlatform/13-Setting/02-smtp.md
      - Collection Granularity: WhalealPlatform/13-Setting/03-collection-granularity.md
      - Kubernetes: WhalealPlatform/13-Setting/04-kubernetes.md
      - S3: WhalealPlatform/13-Setting/05-s3.md
      - Version: WhalealPlatform/13-Setting/06-version.md
    - Support:
      - Cluster Inspection: WhalealPlatform/14-Support/01-cluster-inspection.md
    - Administrator Whaleal:
      - Start And Stop Whaleal Application: WhalealPlatform/15-AdministratorWhaleal/01-start-and-stop-whaleal-application.md
      - IntegrationwithPrometheus: WhalealPlatform/15-AdministratorWhaleal/02-integrationwith-prometheus.md
    - Troubleshooting:
      - EC2 and K8S: WhalealPlatform/16-Troubleshooting/01-ec2-and-k8s.md
      - MongoDB Monitoring: WhalealPlatform/16-Troubleshooting/02-mongodb-monitoring.md
      - MongoDB Upgrade Downgrade: WhalealPlatform/16-Troubleshooting/03-mongodb-upgrade-downgrade.md
      - Backup and Restore: WhalealPlatform/16-Troubleshooting/04-backup-and-restore.md
    - Frequently Asked Questions:
      - WAP: WhalealPlatform/17-FrequentlyAskedQuestions/01-wap.md
      - Monitor: WhalealPlatform/17-FrequentlyAskedQuestions/02-monitor.md
      - Backup: WhalealPlatform/17-FrequentlyAskedQuestions/03-backup.md
      - Service: WhalealPlatform/17-FrequentlyAskedQuestions/04-service.md
      - Agent: WhalealPlatform/17-FrequentlyAskedQuestions/05-agent.md
    - Release Notes:
      - Whaleal Changelog: WhalealPlatform/18-ReleaseNotes/01-whaleal-changelog.md

  - Whaleal Data:   # whaleal data
    - whalealData/index.md
    - InstallationDeployment:
      - InstallationRequirements: whalealData/InstallationDeployment/installation-requirements.md
      - JDKInstallationDeployment: whalealData/InstallationDeployment/jdk-installation-deployment.md
      - MYSQLInstallationDeployment: whalealData/InstallationDeployment/mysql-installation-deployment.md
      - NginxInstallationDeployment: whalealData/InstallationDeployment/nginx-installation-deployment.md
      - RedisInstallationDeployment: whalealData/InstallationDeployment/redis-installation-deployment.md
      - ZookeeperInstallationDeployment: whalealData/InstallationDeployment/zookeeper-installation-deployment.md
      - Whaleal-dataInstallationDeployment: whalealData/InstallationDeployment/whaleal-data-installation-deployment.md
    - Whaleal data Manual:
      - LoginPage:
        - UserFirstLogin: whalealData/UserManual/LoginPage/user-first-login.md
        - UserRegistration: whalealData/UserManual/LoginPage/user-registration.md
      - HomepageDisplay: whalealData/UserManual/HomepageDisplay/HomepageDisplay.md
      - ConfigurationManagement:
        - DataSourceManagement: whalealData/UserManual/ConfigurationManagement/data-source-management.md
        - DestinationSourceManagement: whalealData/UserManual/ConfigurationManagement/destination-source-management.md
        - TableJobConfiguration: whalealData/UserManual/ConfigurationManagement/table-job-configuration.md
        - TaskConfiguration: whalealData/UserManual/ConfigurationManagement/task-configuration.md
      - TaskManagement:
        - TaskScheduling: whalealData/UserManual/TaskManagement/task-scheduling.md
        - WarmTaskMonitoring: whalealData/UserManual/TaskManagement/warm-task-monitoring.md
        - ColdTaskMonitoring: whalealData/UserManual/TaskManagement/cold-task-monitoring.md
        - S3TaskMonitoring: whalealData/UserManual/TaskManagement/s3-task-monitoring.md
      - ArchiveManagement:
        - ColdTaskLogQuery: whalealData/UserManual/ArchiveManagement/cold-task-log-query.md
        - FileInspectionManagement: whalealData/UserManual/ArchiveManagement/file-inspection-management.md
        - FileFullTextSearch: whalealData/UserManual/ArchiveManagement/file-full-text-search.md
      - SystemManagement:
        - UserManagement: whalealData/UserManual/SystemManagement/user-management.md
        - RoleManagement: whalealData/UserManual/SystemManagement/role-management.md
        - MenuManagement: whalealData/UserManual/SystemManagement/menu-management.md
        - SystemSettings: whalealData/UserManual/SystemManagement/system-settings.md
        - OperationLog: whalealData/UserManual/SystemManagement/operation-log.md
        - ErrorLog: whalealData/UserManual/SystemManagement/error-log.md
      - StatisticalReports:
        - TableJobExecutionStatistics: whalealData/UserManual/StatisticalReports/table-job-execution-statistics.md
        - AbnormalJobExecutionStatistics: whalealData/UserManual/StatisticalReports/abnormal-job-execution-statistics.md
        - SystemAccessStatistics: whalealData/UserManual/StatisticalReports/system-access-statistics.md
        - RollbackRecordsStatistics: whalealData/UserManual/StatisticalReports/roll-back-records-statistics.md
        - JobDetails: whalealData/UserManual/StatisticalReports/job-details.md
        - DataHistoricalFlow: whalealData/UserManual/StatisticalReports/data-historical-flow.md
    - UseCase:
      - UserRegistration: whalealData/UseCase/user-registration.md
      - UserLogin: whalealData/UseCase/user-login.md
      - AddDataSource: whalealData/UseCase/add-data-source.md
      - AddDestinationSource: whalealData/UseCase/add-destination-source.md
      - AddWarmDataFullLoadJob: whalealData/UseCase/add-warm-data-full-load-job.md
      - AddColdDataFullLoadJob: whalealData/UseCase/add-cold-data-full-load-job.md
      - AddS3FullLoadJob: whalealData/UseCase/add-s3-full-load-job.md
      - AddWarmDataIncrementalJob: whalealData/UseCase/add-warm-data-incremental-job.md
      - AddColdDataIncrementalJob: whalealData/UseCase/add-cold-data-incremental-job.md
      - AddS3IncrementalJob: whalealData/UseCase/add-s3-incremental-job.md
      - CreateSingleTask: whalealData/UseCase/create-single-task.md
      - CreateManualTask: whalealData/UseCase/create-manual-task.md
      - CreateLoopTask: whalealData/UseCase/create-loop-task.md
      - TaskExecutionMonitoring: whalealData/UseCase/task-execution-monitoring.md
      - RetryAbnormalTask: whalealData/UseCase/retry-abnormal-task.md
      - AbnormalTaskFeedback: whalealData/UseCase/abnormal-task-feedback.md
      - SystemDeleteSourceData: whalealData/UseCase/system-delete-source-data.md
      - ManuallyDeleteSourceData: whalealData/UseCase/manually-delete-source-data.md
      - ColdDataWriteBack: whalealData/UseCase/cold-data-write-back.md
      - ColdDataFullTextSearch: whalealData/UseCase/cold-data-full-text-search.md
      - SMTPConfig: whalealData/UseCase/smtp-config.md
      - WarmJobDemo: whalealData/UseCase/warm-job-demo.md
      - ColdWorkDemo: whalealData/UseCase/cold-work-demo.md
      - S3JobDemo: whalealData/UseCase/s3-job-demo.md

  - Document Data Transfer:  # Document Data Transfer
    - document-data-transfer/index.md
    - Overview:
      - Architecture: document-data-transfer/introduction/architecture.md
      - CustomerCase: document-data-transfer/introduction/customer-case.md
    - Install:
      - Requirements: document-data-transfer/install/requirement.md
      - Installation: document-data-transfer/install/installation.md
      - QuickStart: document-data-transfer/install/quick-start.md
      - Configuring: document-data-transfer/install/configuring.md
    - Use Case:
      - FunctionalTest: document-data-transfer/use-case/functional-test.md
      - FullTesting: document-data-transfer/use-case/full-test.md
      - RealTimeTest: document-data-transfer/use-case/real-time-test.md

  # - Support: whalealSupport/index.md

extra:
  alternate:
    - name: English
      link: /
      lang: en
    - name: 中文
      link: /zh/
      lang: zh

plugins:
  - search
  - roamlinks

