# Site Settings
site_name: Whaleal docs
site_author: whaleal
docs_dir: en-docs   # docs_dir: docs # Obsidian Vault

repo_name: whaleal/guide
repo_url: https://github.com/whaleal/guide
copyright: © 2024 | @whaleal


# Custom Homepage Elements
home_cover_image: images/wizard-posting.png # This path starts at your root mkdocs directory.
home_tagline: Whaleal
home_description: |
  Welcome to the Whaleal Product Documentation website, which provides comprehensive documentation to help you understand and use our products.

# Gradient Color
home_gradient_hsla: hsla(0deg,47%,55%,1) # Default Green: hsla(160deg,47%,55%,1)

# Custom Homepage Button(s)
home_button1_name: Whaleal Platform                  # Comment this parameter out to remove the button.
home_button1_url: WhalealPlatform/                       # This path starts at your root mkdocs directory.
home_button1_theme: md-button md-button--primary # Options: "md-button", "md-button md-button--primary"
home_button1_icon: people                        # Options: "people", "gear", "image"
home_button1_blurb: |                            # Short description of this button / section.
  Whaleal Platform (WAP) is an intelligent operation, maintenance and hosting platform that provides real-time monitoring and management of your MongoDB services 7*24 hours a day.

home_button2_name: Whaleal Data   # Comment this parameter out to remove the button.
home_button2_url: whalealData/    # This path starts at your root mkdocs directory.
home_button2_theme: md-button # Options: "md-button", "md-button md-button--primary"
home_button2_icon: gear       # Options: "people", "gear", "image"
home_button2_blurb: |         # Short description of this button / section.
  Whaleal Data is an archiving platform designed specifically for data archiving, supporting three types of archiving: cold archiving, warm archiving, and S3.

home_button3_name: Document Data Transfer   # Comment this parameter out to remove the button.
home_button3_url: DocumentDataTransfer/    # This path starts at your root mkdocs directory.
home_button3_theme: md-button # Options: "md-button", "md-button md-button--primary"
home_button3_icon: image      # Options: "people", "gear", "image"
home_button3_blurb: |         # Short description of this button / section.
  Document Data Transfer (DDT) is a MongoDB database migration and synchronization tool that supports data transmission between different MongoDB architectures.

# Homepage Code Execution
home_execute_js: | # Javascript to execute when accessing the homepage
  console.log("This is an example!");


# Material Configuration
theme:
  name: material
  favicon: 'images/logo.png'
  logo: 'images/logo1.svg'
  custom_dir: assets # Contains custom 'home.html' coverpage (and 'main.html')

  features:
    - navigation.indexes          # Implied section 'index.md' files
    - navigation.tabs             # Static upper section tabs (exist)
    # - navigation.tabs.sticky      # Static upper section tabs (stay)
    - navigation.footer           # Add 'previous' and 'next' buttons in the footer
    - navigation.instant          # Keep navigation from reloading
    - navigation.instant.progress # Display page loading progress-bar ( > 400ms)
    - search.highlight            # Highlight all occurrences of queried string
    - search.share                # Search Query can be copied to Clipboard
    - search.suggest              # Display likeliest completion for the last queried word
    - content.code.copy

  palette:
    # Light Mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple # deep orange
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to Dark Mode

    # Dark Mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: HSLA
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to Light Mode
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

nav:
  - Home: index.md
  - Whaleal Platform:
    - WhalealPlatform/index.md
    - Whaleal Overview:
      - Whaleal Architecture: WhalealPlatform/01-WhalealOverview/01-WhalealArchitecture.md
      - Example Deployment: WhalealPlatform/01-WhalealOverview/02-ExampleDeployment.md
      - QuickStart On Premise: WhalealPlatform/01-WhalealOverview/03-QuickStartOnPremise.md
      - QuickStart On Marketplace: WhalealPlatform/01-WhalealOverview/04-QuickStartOnMarketplace.md
    - Install Whaleal:
      - Installation Checklist: WhalealPlatform/02-InstallWhaleal/01-InstallationChecklist.md
      - Hardware And Software Requirements: WhalealPlatform/02-InstallWhaleal/02-HardwareAndSoftwareRequirements.md
      - InstallWhaleal:
        - Install Whaleal In AWS MarketPlace: WhalealPlatform/02-InstallWhaleal/03-InstallWhaleal/01-InstallWhalealInAWSMarketPlace.md
        - Install Whaleal In Docker: WhalealPlatform/02-InstallWhaleal/03-InstallWhaleal/02-InstallWhalealinDocker.md
        - On Premise Install Whaleal: WhalealPlatform/02-InstallWhaleal/03-InstallWhaleal/03-OnPremiseInstallWhaleal.md
    - Projects:
      - Projects: WhalealPlatform/03-Projects/01-Projects.md
    - Create Deployment:
      - Deployment Prerequisites: WhalealPlatform/04-CreateDeployment/01-DeploymentPrerequisites.md
      - Add EC2:
        - Resource Quota: WhalealPlatform/04-CreateDeployment/02-AddEC2/01-ResourceQuota.md
        - Subscribe Agent: WhalealPlatform/04-CreateDeployment/02-AddEC2/02-SubscribeAgent.md
        - Manually Add Agent: WhalealPlatform/04-CreateDeployment/02-AddEC2/03-ManuallyAddAgent.md
      - Add K8S Cluster: WhalealPlatform/04-CreateDeployment/03-AddK8SCluster.md
      - Deploy Standalone: WhalealPlatform/04-CreateDeployment/04-DeployStandalone.md
      - Deploy ReplicaSet: WhalealPlatform/04-CreateDeployment/05-DeployReplicaSet.md
      - Deploy Sharded Cluster: WhalealPlatform/04-CreateDeployment/06-DeployShardedCluster.md
      - Deploy Existing Cluster: WhalealPlatform/04-CreateDeployment/07-DeployExistingCluster.md
    - Manage Deployments:
      - View All Clusters: WhalealPlatform/05-ManageDeployments/01-ViewAllClusters.md
      - Edit Deployment Configuration: WhalealPlatform/05-ManageDeployments/02-EditDeploymentConfiguration.md
      - Edit ReplicaSet: WhalealPlatform/05-ManageDeployments/03-EditsReplicaSets.md
      - Sharded Cluster Operations: WhalealPlatform/05-ManageDeployments/04-ShardedClusterOperations.md
      - Stop Managingandor Monitoring One Deployment: WhalealPlatform/05-ManageDeployments/05-StopManagingandorMonitoringOneDeployment.md
      - MongoDB Operation: WhalealPlatform/05-ManageDeployments/06-MongoDBOperation.md
    - Monitor:
      - Monitoring Instructions: WhalealPlatform/06-Monitor/01-MonitoringInstructions.md
      - Usage Monitoring: WhalealPlatform/06-Monitor/02-UsageMonitoring.md
      - Monitoring indicator details: WhalealPlatform/06-Monitor/03-MonitoringIndicatorDetails.md
    - Backup And Restore:
      - Backup:
        - Create Repository: WhalealPlatform/07-BackupAndRestore/01-Backup/01-CreateRepository.md
        - Operations: WhalealPlatform/07-BackupAndRestore/01-Backup/02-Operations.md
      - Restore: WhalealPlatform/07-BackupAndRestore/02-Restore.md
      - Mirrored MongoDB Data Through MongoDB Tools: WhalealPlatform/07-BackupAndRestore03-MirroredMongoDBData/01-MirroredMongoDBDataThroughMongoDBTools.md
      - Mirrored MongoDB Data Through DDT: WhalealPlatform/07-BackupAndRestore03-MirroredMongoDBData/02-MirroredMongoDBDataThroughDDT.md
    - Security:
      - Configure Firewall to Access Whaleal: WhalealPlatform/08-Security/01-ConfigureFirewalltoAccessWhaleal.md
      - Secure MongoDB Deployment swith Authentication:
        - MongoDB Access Control: WhalealPlatform/08-Security/03-SecureMongoDBDeploymentswithAuthentication/01-MongoDBAccessControl.md
        - Enable Username Password Authentication: WhalealPlatform/08-Security/03-SecureMongoDBDeploymentswithAuthentication/02-EnableUsernamePasswordAuthentication.md
        - Enable X509 Authentication: WhalealPlatform/08-Security/03-SecureMongoDBDeploymentswithAuthentication/03-EnableX509Authentication.md
        - Manage MongoDB Users and Roles: WhalealPlatform/08-Security/03-SecureMongoDBDeploymentswithAuthentication/04-ManageMongoDBUsersandRoles.md
        - Configure and Deploy Auditing: WhalealPlatform/08-Security/03-SecureMongoDBDeploymentswithAuthentication/05-ConfigureandDeployAuditing.md
    - Alert:
      - Host Alert: WhalealPlatform/09-Alert/01-HostAlert.md
      - MongoDB Alert: WhalealPlatform/09-Alert/02-MongoDBAlert.md
      - Project Alert: WhalealPlatform/09-Alert/03-ProjectAlert.md
    - Diagnose:
      - ClusterInfo: WhalealPlatform/10-Diagnose/01-ClusterInfo.md
      - Cluster Health: WhalealPlatform/10-Diagnose/02-ClusterHealth.md
      - Performance: WhalealPlatform/10-Diagnose/03-Performance.md
      - LogVis: WhalealPlatform/10-Diagnose/04-LogVis.md
      - ExploreData: WhalealPlatform/10-Diagnose/05-ExploreData.md
    - Audit:
      - Audit: WhalealPlatform/11-Audit/01-Audit.md
    - Account:
      - user Center: WhalealPlatform/12-Account/01-usercenter.md
      - User Management: WhalealPlatform/12-Account/02-UserManagement.md
      - Account Configuration: WhalealPlatform/12-Account/03-AccountConfiguration.md
    - Setting:
      - MongoDB Packge: WhalealPlatform/13-Setting/01-MongoDBPackge.md
      - SMTP: WhalealPlatform/13-Setting/02-SMTP.md
      - Collection Granularity: WhalealPlatform/13-Setting/03-CollectionGranularity.md
      - Kubernetes: WhalealPlatform/13-Setting/04-Kubernetes.md
      - S3: WhalealPlatform/13-Setting/05-S3.md
      - Version: WhalealPlatform/13-Setting/06-Version.md
    - Support:
      - Cluster Inspection: WhalealPlatform/14-Support/01-ClusterInspection.md
    - Administrator Whaleal:
      - Start And Stop Whaleal Application: WhalealPlatform/15-AdministratorWhaleal/01-StartAndStopWhalealApplication.md
      - IntegrationwithPrometheus: WhalealPlatform/15-AdministratorWhaleal/02-IntegrationwithPrometheus.md
    - Troubleshooting:
      - EC2 and K8S: WhalealPlatform/16-Troubleshooting/01-EC2andK8S.md
      - MongoDB Monitoring: WhalealPlatform/16-Troubleshooting/02-MongoDBMonitoring.md
      - MongoDB Upgrade Downgrade: WhalealPlatform/16-Troubleshooting/03-MongoDBUpgradeDowngrade.md
      - Backup and Restore: WhalealPlatform/16-Troubleshooting/04-BackupandRestore.md
    - Frequently Asked Questions:
      - WAP: WhalealPlatform/17-FrequentlyAskedQuestions/01-WAP.md
      - Monitor: WhalealPlatform/17-FrequentlyAskedQuestions/02-Monitor.md
      - Backup: WhalealPlatform/17-FrequentlyAskedQuestions/03-Backup.md
      - Service: WhalealPlatform/17-FrequentlyAskedQuestions/04-Service.md
      - Agent: WhalealPlatform/17-FrequentlyAskedQuestions/05-Agent.md
    - Release Notes:
      - Whaleal Changelog: WhalealPlatform/18-ReleaseNotes/01-WhalealChangelog.md

  - Whaleal Data:   # whaleal data
    - whalealData/index.md
    - InstallationDeployment:
      - InstallationRequirements: whalealData/InstallationDeployment/installation-requirements.md
      - JDKInstallationDeployment: whalealData/InstallationDeployment/jdk-installation-deployment.md
      - MYSQLInstallationDeployment: whalealData/InstallationDeployment/mysql-installation-deployment.md
      - NginxInstallationDeployment: whalealData/InstallationDeployment/nginx-installation-deployment.md
      - RedisInstallationDeployment: whalealData/InstallationDeployment/redis-installation-deployment.md
      - ZookeeperInstallationDeployment: whalealData/InstallationDeployment/zookeeper-installation-deployment.md
      - Whaleal-dataInstallationDeployment: whalealData/InstallationDeployment/whaleal-data-installation-deployment.md
    - Whaleal data Manual:
      - LoginPage:
        - UserFirstLogin: whalealData/UserManual/LoginPage/UserFirstLogin.md
        - UserRegistration: whalealData/UserManual/LoginPage/UserRegistration.md
      - HomepageDisplay: whalealData/UserManual/HomepageDisplay/HomepageDisplay.md
      - ConfigurationManagement:
        - DataSourceManagement: whalealData/UserManual/ConfigurationManagement/DataSourceManagement.md
        - DestinationSourceManagement: whalealData/UserManual/ConfigurationManagement/DestinationSourceManagement.md
        - TableJobConfiguration: whalealData/UserManual/ConfigurationManagement/TableJobConfiguration.md
        - TaskConfiguration: whalealData/UserManual/ConfigurationManagement/TaskConfiguration.md
      - TaskManagement:
        - TaskScheduling: whalealData/UserManual/TaskManagement/TaskScheduling.md
        - WarmTaskMonitoring: whalealData/UserManual/TaskManagement/WarmTaskMonitoring.md
        - ColdTaskMonitoring: whalealData/UserManual/TaskManagement/ColdTaskMonitoring.md
        - S3TaskMonitoring: whalealData/UserManual/TaskManagement/S3TaskMonitoring.md
      - ArchiveManagement:
        - ColdTaskLogQuery: whalealData/UserManual/ArchiveManagement/ColdTaskLogQuery.md
        - FileInspectionManagement: whalealData/UserManual/ArchiveManagement/FileInspectionManagement.md
        - FileFullTextSearch: whalealData/UserManual/ArchiveManagement/FileFullTextSearch.md
      - SystemManagement:
        - UserManagement: whalealData/UserManual/SystemManagement/UserManagement.md
        - RoleManagement: whalealData/UserManual/SystemManagement/RoleManagement.md
        - MenuManagement: whalealData/UserManual/SystemManagement/MenuManagement.md
        - SystemSettings: whalealData/UserManual/SystemManagement/SystemSettings.md
        - OperationLog: whalealData/UserManual/SystemManagement/OperationLog.md
        - ErrorLog: whalealData/UserManual/SystemManagement/ErrorLog.md
      - StatisticalReports:
        - TableJobExecutionStatistics: whalealData/UserManual/StatisticalReports/TableJobExecutionStatistics.md
        - AbnormalJobExecutionStatistics: whalealData/UserManual/StatisticalReports/AbnormalJobExecutionStatistics.md
        - SystemAccessStatistics: whalealData/UserManual/StatisticalReports/SystemAccessStatistics.md
        - RollbackRecordsStatistics: whalealData/UserManual/StatisticalReports/RollbackRecordsStatistics.md
        - JobDetails: whalealData/UserManual/StatisticalReports/JobDetails.md
        - DataHistoricalFlow: whalealData/UserManual/StatisticalReports/DataHistoricalFlow.md
    - UseCase:
      - UserRegistration: whalealData/UseCase/UserRegistration.md
      - UserLogin: whalealData/UseCase/UserLogin.md
      - AddDataSource: whalealData/UseCase/add-data-source.md
      - AddDestinationSource: whalealData/UseCase/add-destination-source.md
      - AddWarmDataFullLoadJob: whalealData/UseCase/add-warm-data-full-load-job.md
      - AddColdDataFullLoadJob: whalealData/UseCase/add-cold-data-full-load-job.md
      - AddS3FullLoadJob: whalealData/UseCase/add-s3-full-load-job.md
      - AddWarmDataIncrementalJob: whalealData/UseCase/AddWarmDataIncrementalJob.md
      - AddColdDataIncrementalJob: whalealData/UseCase/add-cold-data-incremental-job.md
      - AddS3IncrementalJob: whalealData/UseCase/add-s3-incremental-job.md
      - CreateSingleTask: whalealData/UseCase/CreateSingleTask.md
      - CreateManualTask: whalealData/UseCase/CreateManualTask.md
      - CreateLoopTask: whalealData/UseCase/CreateLoopTask.md
      - TaskExecutionMonitoring: whalealData/UseCase/TaskExecutionMonitoring.md
      - RetryAbnormalTask: whalealData/UseCase/RetryAbnormalTask.md
      - AbnormalTaskFeedback: whalealData/UseCase/abnormal-task-feedback.md
      - SystemDeleteSourceData: whalealData/UseCase/SystemDeleteSourceData.md
      - ManuallyDeleteSourceData: whalealData/UseCase/ManuallyDeleteSourceData.md
      - ColdDataWriteBack: whalealData/UseCase/ColdDataWriteBack.md
      - ColdDataFullTextSearch: whalealData/UseCase/ColdDataFullTextSearch.md
      - SMTPConfig: whalealData/UseCase/SMTPConfig.md
      - WarmJobDemo: whalealData/UseCase/WarmJobDemo.md
      - ColdWorkDemo: whalealData/UseCase/ColdWorkDemo.md
      - S3JobDemo: whalealData/UseCase/S3JobDemo.md

  - Document Data Transfer:  # Document Data Transfer
    - document-data-transfer/index.md
    - Overview:
      - Architecture: document-data-transfer/introduction/architecture.md
      - CustomerCase: document-data-transfer/introduction/customer-case.md
    - Install:
      - Requirements: document-data-transfer/install/requirement.md
      - Installation: document-data-transfer/install/installation.md
      - QuickStart: document-data-transfer/install/quick-start.md
      - Configuring: document-data-transfer/install/configuring.md
    - Use Case:
      - FunctionalTest: document-data-transfer/use-case/functional-test.md
      - FullTesting: document-data-transfer/use-case/full-test.md
      - RealTimeTest: document-data-transfer/use-case/real-time-test.md

  # - Support: whalealSupport/index.md

extra:
  alternate:
    - name: English
      link: /
      lang: en
    - name: 中文
      link: /zh/
      lang: zh

plugins:
  - search
  - roamlinks

