# Site Settings
site_name: Whaleal docs
site_author: whaleal
docs_dir: en-docs   # docs_dir: docs # Obsidian Vault

repo_name: whaleal/guide
repo_url: https://github.com/whaleal/guide
copyright: © 2024 | @whaleal


# Custom Homepage Elements
home_cover_image: images/docs-logo.png # This path starts at your root mkdocs directory.
home_tagline: Whaleal
home_description: |
  Welcome to the Whaleal Product Documentation website, which provides comprehensive documentation to help you understand and use our products.

# Gradient Color
home_gradient_hsla: hsla(0deg,47%,55%,1) # Default Green: hsla(160deg,47%,55%,1)

# Custom Homepage Button(s)
home_button1_name: Whaleal Platform                  # Comment this parameter out to remove the button.
home_button1_url: whaleal-platform/                       # This path starts at your root mkdocs directory.
home_button1_theme: md-button md-button--primary # Options: "md-button", "md-button md-button--primary"
home_button1_icon: people                        # Options: "people", "gear", "image"
home_button1_blurb: |                            # Short description of this button / section.
  Whaleal Platform (WAP) is an intelligent operation, maintenance and hosting platform that provides real-time monitoring and management of your MongoDB services.

home_button2_name: Whaleal Data   # Comment this parameter out to remove the button.
home_button2_url: whaleal-data/    # This path starts at your root mkdocs directory.
home_button2_theme: md-button # Options: "md-button", "md-button md-button--primary"
home_button2_icon: gear       # Options: "people", "gear", "image"
home_button2_blurb: |         # Short description of this button / section.
  Whaleal Data is an archiving platform designed specifically for data archiving, supporting three types of archiving: cold archiving, warm archiving, and S3.

home_button3_name: Document Data Transfer   # Comment this parameter out to remove the button.
home_button3_url: document-data-transfer/    # This path starts at your root mkdocs directory.
home_button3_theme: md-button # Options: "md-button", "md-button md-button--primary"
home_button3_icon: image      # Options: "people", "gear", "image"
home_button3_blurb: |         # Short description of this button / section.
  Document Data Transfer (DDT) is a MongoDB database migration and synchronization tool that supports data transmission between different MongoDB architectures.

# Homepage Code Execution
home_execute_js: | # Javascript to execute when accessing the homepage
  console.log("This is an example!");


# Material Configuration
theme:
  name: material
  favicon: 'images/logo.png'
  logo: 'images/logo1.svg'
  custom_dir: assets # Contains custom 'home.html' coverpage (and 'main.html')

  features:
    - navigation.indexes          # Implied section 'index.md' files
    - navigation.tabs             # Static upper section tabs (exist)
    # - navigation.tabs.sticky      # Static upper section tabs (stay)
    - navigation.footer           # Add 'previous' and 'next' buttons in the footer
    - navigation.instant          # Keep navigation from reloading
    - navigation.instant.progress # Display page loading progress-bar ( > 400ms)
    - search.highlight            # Highlight all occurrences of queried string
    - search.share                # Search Query can be copied to Clipboard
    - search.suggest              # Display likeliest completion for the last queried word
    - content.code.copy

  palette:
    # Light Mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple # deep orange
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to Dark Mode

    # Dark Mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: HSLA
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to Light Mode
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true


nav:
  - Home: index.md
  
  - Whaleal Platform:
      - whaleal-platform/index.md
      - Whaleal Overview:
          - Whaleal Architecture: whaleal-platform/01-whaleal-overview/01-whaleal-architecture.md
          - Example Deployment: whaleal-platform/01-whaleal-overview/02-example-deployment.md
          - Quick Start On Premise: whaleal-platform/01-whaleal-overview/03-quick-start-on-premise.md
          - Quick Start On Marketplace: whaleal-platform/01-whaleal-overview/04-quick-start-on-marketplace.md
      - Install Whaleal:
          - Installation Checklist: whaleal-platform/02-install-whaleal/01-installation-checklist.md
          - Hardware and Software Requirements: whaleal-platform/02-install-whaleal/02-hardware-and-software-requirements.md
          - Install Whaleal:
              - Install Whaleal in AWS Marketplace: whaleal-platform/02-install-whaleal/03-install-whaleal/01-install-whaleal-in-aws-marketplace.md
              - Install Whaleal in Docker: whaleal-platform/02-install-whaleal/03-install-whaleal/02-install-whaleal-in-docker.md
              - On Premise Install Whaleal: whaleal-platform/02-install-whaleal/03-install-whaleal/03-on-premise-install-whaleal.md
      - Projects:
          - Projects Overview: whaleal-platform/03-projects/01-projects-overview.md
      - Create Deployment:
          - Deployment Prerequisites: whaleal-platform/04-create-deployment/01-deployment-prerequisites.md
          - Add EC2:
              - Resource Quota: whaleal-platform/04-create-deployment/02-add-ec2/01-resource-quota.md
              - Subscribe Agent: whaleal-platform/04-create-deployment/02-add-ec2/02-subscribe-agent.md
              - Manually Add Agent: whaleal-platform/04-create-deployment/02-add-ec2/03-manually-add-agent.md
          - Add K8S Cluster: whaleal-platform/04-create-deployment/03-add-k8s-cluster.md
          - Deploy Standalone: whaleal-platform/04-create-deployment/04-deploy-standalone.md
          - Deploy Replica Set: whaleal-platform/04-create-deployment/05-deploy-replica-set.md
          - Deploy Sharded Cluster: whaleal-platform/04-create-deployment/06-deploy-sharded-cluster.md
          - Deploy Existing Cluster: whaleal-platform/04-create-deployment/07-deploy-existing-cluster.md
      - Manage Deployments:
          - View All Clusters: whaleal-platform/05-manage-deployments/01-view-all-clusters.md
          - Edit Deployment Configuration: whaleal-platform/05-manage-deployments/02-edit-deployment-configuration.md
          - Edit Replica Sets: whaleal-platform/05-manage-deployments/03-edit-replica-sets.md
          - Sharded Cluster Operations: whaleal-platform/05-manage-deployments/04-sharded-cluster-operations.md
          - Stop Managing and/or Monitoring One Deployment: whaleal-platform/05-manage-deployments/05-stop-managing-and-or-monitoring-one-deployment.md
          - MongoDB Operation: whaleal-platform/05-manage-deployments/06-mongodb-operation.md
      - Monitor:
          - Monitoring Instructions: whaleal-platform/06-monitor/01-monitoring-instructions.md
          - Usage Monitoring: whaleal-platform/06-monitor/02-usage-monitoring.md
          - Monitoring Indicator Details: whaleal-platform/06-monitor/03-monitoring-indicator-details.md
      - Backup and Restore:
          - Backup:
              - Create Repository: whaleal-platform/07-backup-and-restore/01-backup/01-create-repository.md
              - Backup Operations: whaleal-platform/07-backup-and-restore/01-backup/02-backup-operations.md
          - Restore: whaleal-platform/07-backup-and-restore/02-restore.md
          - Mirrored MongoDB Data:
              - Through MongoDB Tools: whaleal-platform/07-backup-and-restore/03-mirrored-mongodb-data/01-through-mongodb-tools.md
              - Through DDT: whaleal-platform/07-backup-and-restore/03-mirrored-mongodb-data/02-through-ddt.md
      - Security:
          - Configure Firewall to Access Whaleal: whaleal-platform/08-security/01-configure-firewall-to-access-whaleal.md
          - Secure MongoDB Deployments with Authentication:
              - MongoDB Access Control: whaleal-platform/08-security/02-secure-mongodb-deployments-with-authentication/01-mongodb-access-control.md
              - Enable Username Password Authentication: whaleal-platform/08-security/02-secure-mongodb-deployments-with-authentication/02-enable-username-password-authentication.md
              - Enable X509 Authentication: whaleal-platform/08-security/02-secure-mongodb-deployments-with-authentication/03-enable-x509-authentication.md
              - Manage MongoDB Users and Roles: whaleal-platform/08-security/02-secure-mongodb-deployments-with-authentication/04-manage-mongodb-users-and-roles.md
              - Configure and Deploy Auditing: whaleal-platform/08-security/02-secure-mongodb-deployments-with-authentication/05-configure-and-deploy-auditing.md
      - Alert:
          - Host Alert: whaleal-platform/09-alert/01-host-alert.md
          - MongoDB Alert: whaleal-platform/09-alert/02-mongodb-alert.md
          - Project Alert: whaleal-platform/09-alert/03-project-alert.md
      - Diagnose:
          - Cluster Info: whaleal-platform/10-diagnose/01-cluster-info.md
          - Cluster Health: whaleal-platform/10-diagnose/02-cluster-health.md
          - Performance: whaleal-platform/10-diagnose/03-performance.md
          - Log Visualization: whaleal-platform/10-diagnose/04-log-visualization.md
          - Explore Data: whaleal-platform/10-diagnose/05-explore-data.md
      - Audit:
          - Audit Overview: whaleal-platform/11-audit/01-audit-overview.md
      - Account:
          - User Center: whaleal-platform/12-account-wap/01-user-center.md
          - User Management: whaleal-platform/12-account-wap/02-user-management.md
          - Account Configuration: whaleal-platform/12-account-wap/03-account-configuration.md
      - Settings:
          - MongoDB Package: whaleal-platform/13-settings/01-mongodb-package.md
          - SMTP Configuration: whaleal-platform/13-settings/02-smtp-configuration.md
          - Collection Granularity: whaleal-platform/13-settings/03-collection-granularity.md
          - Kubernetes Settings: whaleal-platform/13-settings/04-kubernetes-settings.md
          - S3 Configuration: whaleal-platform/13-settings/05-s3-configuration.md
          - Version Information: whaleal-platform/13-settings/06-version-information.md
      - Support:
          - Cluster Inspection: whaleal-platform/14-support/01-cluster-inspection.md
      - Administrator Whaleal:
          - Start and Stop Whaleal Application: whaleal-platform/15-administrator-whaleal/01-start-and-stop-whaleal-application.md
          - Integration with Prometheus: whaleal-platform/15-administrator-whaleal/02-integration-with-prometheus.md
      - Troubleshooting:
          - EC2 and K8S: whaleal-platform/16-troubleshooting/01-ec2-and-k8s.md
          - MongoDB Monitoring: whaleal-platform/16-troubleshooting/02-mongodb-monitoring.md
          - MongoDB Upgrade Downgrade: whaleal-platform/16-troubleshooting/03-mongodb-upgrade-downgrade.md
          - Backup and Restore Troubleshooting: whaleal-platform/16-troubleshooting/04-backup-and-restore-troubleshooting.md
      - Frequently Asked Questions:
          - WAP FAQ: whaleal-platform/17-frequently-asked-questions/01-wap-faq.md
          - Monitor FAQ: whaleal-platform/17-frequently-asked-questions/02-monitor-faq.md
          - Backup FAQ: whaleal-platform/17-frequently-asked-questions/03-backup-faq.md
          - Service FAQ: whaleal-platform/17-frequently-asked-questions/04-service-faq.md
          - Agent FAQ: whaleal-platform/17-frequently-asked-questions/05-agent-faq.md
      - Release Notes:
          - Whaleal Changelog: whaleal-platform/18-release-notes/01-whaleal-changelog.md

  - Whaleal Data:
      - whaleal-data/index.md
      - Installation Deployment:
          - Installation Requirements: whaleal-data/installation-deployment/installation-requirements.md
          - JDK Installation Deployment: whaleal-data/installation-deployment/jdk-Installation-deployment.md
          - MySQL Installation Deployment: whaleal-data/installation-deployment/mysql-installation-deployment.md
          - Nginx Installation Deployment: whaleal-data/installation-deployment/nginx-installation-deployment.md
          - Redis Installation Deployment: whaleal-data/installation-deployment/redis-installation-deployment.md
          - Zookeeper Installation Deployment: whaleal-data/installation-deployment/zookeeper-installation-deployment.md
          - Whaleal Data Installation Deployment: whaleal-data/installation-deployment/whaleal-data-installation-deployment.md
      - Whaleal Data Manual:
          - Login Page:
              - User First Login: whaleal-data/user-manual/login-page/user-first-login.md
              - User Registration: whaleal-data/user-manual/login-page/user-registration.md
          - Homepage Display: whaleal-data/user-manual/homepage-display/homepage-display.md
          - Configuration Management:
              - Data Source Management: whaleal-data/user-manual/configuration-management/data-source-management.md
              - Destination Source Management: whaleal-data/user-manual/configuration-management/destination-source-management.md
              - Table Job Configuration: whaleal-data/user-manual/configuration-management/table-job-configuration.md
              - Task Configuration: whaleal-data/user-manual/configuration-management/task-configuration.md
          - Task Management:
              - Task Scheduling: whaleal-data/user-manual/task-management/task-scheduling.md
              - Warm Task Monitoring: whaleal-data/user-manual/task-management/warm-task-monitoring.md
              - Cold Task Monitoring: whaleal-data/user-manual/task-management/cold-task-monitoring.md
              - S3 Task Monitoring: whaleal-data/user-manual/task-management/s3-task-monitoring.md
          - Archive Management:
              - Cold Task Log Query: whaleal-data/user-manual/archive-management/cold-task-log-query.md
              - File Inspection Management: whaleal-data/user-manual/archive-management/file-inspection-management.md
              - File Full Text Search: whaleal-data/user-manual/archive-management/file-full-text-search.md
          - System Management:
              - User Management: whaleal-data/user-manual/system-management/user-management.md
              - Role Management: whaleal-data/user-manual/system-management/role-management.md
              - Menu Management: whaleal-data/user-manual/system-management/menu-management.md
              - System Settings: whaleal-data/user-manual/system-management/system-settings.md
              - Operation Log: whaleal-data/user-manual/system-management/operation-log.md
              - Error Log: whaleal-data/user-manual/system-management/error-log.md
          - Statistical Reports:
              - Table Job Execution Statistics: whaleal-data/user-manual/statistical-reports/table-job-execution-statistics.md
              - Abnormal Job Execution Statistics: whaleal-data/user-manual/statistical-reports/abnormal-job-execution-statistics.md
              - System Access Statistics: whaleal-data/user-manual/statistical-reports/system-access-statistics.md
              - Rollback Records Statistics: whaleal-data/user-manual/statistical-reports/rollback-records-statistics.md
              - Job Details: whaleal-data/user-manual/statistical-reports/job-details.md
              - Data Historical Flow: whaleal-data/user-manual/statistical-reports/data-historical-flow.md
      - Use Case:
          - User Registration Use Case: whaleal-data/use-case/user-registration.md
          - User Login Use Case: whaleal-data/use-case/user-login.md
          - Add Data Source: whaleal-data/use-case/add-data-source.md
          - Add Destination Source: whaleal-data/use-case/add-destination-source.md
          - Add Warm Data Full Load Job: whaleal-data/use-case/add-warm-data-full-load-job.md
          - Add Cold Data Full Load Job: whaleal-data/use-case/add-cold-data-full-load-job.md
          - Add S3 Full Load Job: whaleal-data/use-case/add-s3-full-load-job.md
          - Add Warm Data Incremental Job: whaleal-data/use-case/add-warm-data-incremental-job.md
          - Add Cold Data Incremental Job: whaleal-data/use-case/add-cold-data-incremental-job.md
          - Add S3 Incremental Job: whaleal-data/use-case/add-s3-incremental-job.md
          - Create Single Task: whaleal-data/use-case/create-single-task.md
          - Create Manual Task: whaleal-data/use-case/create-manual-task.md
          - Create Loop Task: whaleal-data/use-case/create-loop-task.md
          - Task Execution Monitoring: whaleal-data/use-case/task-execution-monitoring.md
          - Retry Abnormal Task: whaleal-data/use-case/retry-abnormal-task.md
          - Abnormal Task Feedback: whaleal-data/use-case/abnormal-task-feedback.md
          - System Delete Source Data: whaleal-data/use-case/system-delete-source-data.md
          - Manually Delete Source Data: whaleal-data/use-case/manually-delete-source-data.md
          - Cold Data Write Back: whaleal-data/use-case/cold-data-write-back.md
          - Cold Data Full Text Search: whaleal-data/use-case/cold-data-full-text-search.md
          - SMTP Configuration: whaleal-data/use-case/smtp-config.md
          - Warm Job Demo: whaleal-data/use-case/warm-job-demo.md
          - Cold Work Demo: whaleal-data/use-case/cold-work-demo.md
          - S3 Job Demo: whaleal-data/use-case/s3-job-demo.md

  - Document Data Transfer:
      - document-data-transfer/index.md
      - Overview:
          - Architecture: document-data-transfer/introduction/architecture.md
          - Customer Case: document-data-transfer/introduction/customer-case.md
      - Install:
          - Requirements: document-data-transfer/install/requirement.md
          - Installation: document-data-transfer/install/installation.md
          - Quick Start: document-data-transfer/install/quick-start.md
          - Configuring: document-data-transfer/install/configuring.md
      - Use Case:
          - Functional Test: document-data-transfer/use-case/functional-test.md
          - Full Test: document-data-transfer/use-case/full-test.md
          - Real Time Test: document-data-transfer/use-case/real-time-test.md
          - MongoDB Version: document-data-transfer/use-case/mongodb-version.md




extra:
  alternate:
    - name: English
      link: /
      lang: en
    - name: 中文
      link: /zh/
      lang: zh
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/whaleal
    - icon: fontawesome/solid/paper-plane
      link: mailto:support@jinmuinfo.com

plugins:
  - search
  - roamlinks

